# How to create a `pd.DataFrame`

In [4]:
import pandas as pd
import numpy as np

**Method 1** There are two ways of creating dataframes. The first one is passing a dict through `pd.DataFrame(...)`.

In [3]:
mydict = {"col1": [1, 2, 3], "col2": ["a", "b", "c"]}
df = pd.DataFrame(data=mydict)
df

   col1 col2
0     1    a
1     2    b
2     3    c

**Method 2** The second method is by passing the data through as an `ndarray` and possibly passing through columns and indices for naming.

In [13]:
pd.DataFrame(np.array([[1, 2, 3], ['a', 'b', 'c'], [7, 8, 9]]),columns=['a', 'b', 'c'], index=['1', '10', '20'])

    a  b  c
1   1  2  3
10  a  b  c
20  7  8  9

Without names indices and columns default to `[0, 1, 2, ...]` etc.

In [12]:
pd.DataFrame(np.array([[1, 2, 3], [4, 5, 'a'], [7, 8, 9]]))

   0  1  2
0  1  2  3
1  4  5  a
2  7  8  9