# What is the difference between `.loc` and `.iloc`?

To better understand the difference between the two functions `.loc` and `.iloc` let's first generate a dataframe with some fake data.

In [1]:
import pandas as pd
import numpy as np

In [11]:
mydata = np.random.randint(low=0, high=100, size=(10, 3))
df = pd.DataFrame(mydata, columns=["col1", "col2", "col3"])

In [38]:
df.head()

   col1  col2  col3
0    64     1    90
1    14     6    35
2    77    31    48
3    22    85    25
4    64    66    49

Refering to [this](https://stackoverflow.com/questions/31593201/how-are-iloc-ix-and-loc-different) useful StackOverflow post: 
* `loc` gets rows (or columns) with particular labels from the index.
* `iloc` gets rows (or columns) at particular positions in the index (so it only takes integers).

In other words, `loc` and `iloc` can be **both used for rows and columns**. 

However, `loc` works with **labels from indices** and `iloc` works with **positions in the index**.

**Example 1** We use `df.loc[0]` to grab the index 0.

In [14]:
df.loc[0]

col1    64
col2     1
col3    90
Name: 0, dtype: int64

**Example 2** This should be the same as `df.iloc[0]` as index 0 is in the first row in the dataframe.

In [15]:
df.iloc[0]

col1    64
col2     1
col3    90
Name: 0, dtype: int64

**Example 3** Grabbing `col3` now is easy with `df.loc['col3']`

In [23]:
df.loc[:, 'col3']

0    90
1    35
2    48
3    25
4    49
5    37
6    13
7    89
8    35
9    45
Name: col3, dtype: int64

**Example 4** Grab all rows where the first column exceeds 50

In [35]:
df.loc[df['col1']>50]

   col1  col2  col3
0    64     1    90
2    77    31    48
4    64    66    49
5    64    53    37
7    93    95    89